---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff, doct]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>The Advanced Artificial Intelligence Research Group</b> at <b>Zhengzhou University</b> (<b>AAI@ZZU</b>) is an important research group within the Intelligent Swarm System Engineering Research Center of the Ministry of Education. Focusing on the major national needs and the development of industries in Henan, the group specializes in task planning, behavior planning, and emergency planning for intelligent swarms, while emphasizing the importance of both fundamental theories and innovative applications. The group conducts strategic, original, and forward-looking scientific research and technology development.
    </p>
    <p>
        <b>郑州大学前沿人工智能研究小组</b>是智能集群系统教育部工程研究中心的一个重要科研小组，围绕国家重大需求和河南产业发展需要，聚焦智能集群的任务规划、行为规划以及应急规划等方向，坚持基础理论与创新应用并重，开展战略性、原创性、前瞻性的科学研究与技术攻关。
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
